# Regression Analysis

#### Evan Yathon

This notebook is intended to be run with papermill from the project root.

The purpose of this notebook is to run a logistic regression analysis on the cleaned reviews data.  Trying to identify contributing factors to a customer recommending an airline or not given that they have submitted a review is the central theme.

Usage:

`papermill src/ipynbs/regression_analysis.ipynb src/regression_analysis_ran.ipynb -p load_path data/topic_modeling_gw_reviews.csv`

In [1]:
load_path = "../../data/topic_modeling_gw_reviews.csv"

In [2]:
# load packages

# utils
import pandas as pd
import sys

# regression
from sklearn.linear_model import LogisticRegression

# regression utils
# custom model preparation script
sys.path.append("../../src")
sys.path.append("./src")
from PrepareForModel import *

In [3]:
reviews = pd.read_csv(load_path, parse_dates = ["date_of_review", "date_flown"])

### Regression Prep

Before running the regression analysis, a few things need to be done.

- Remove dates after the transfer to Eurowings
- Drop columns that have large amount of `NA` values or don't make sense to include in the analysis
- Deal with `NA` values
- Encode categorical columns

Remove dates after `8th February 2016` as Germanwings was transferred to Eurowings (as found in the EDA notebook).

In [4]:
reviews_regr = reviews[reviews["date_of_review"] < "2016-02-08"]

Check column types and percentage of NA values

In [5]:
# column types, na values
pd.DataFrame({
    "data_type" : reviews_regr.dtypes.values,
    "precent_na" : (reviews_regr.isna().sum()/reviews_regr.shape[0])*100
})

                                    data_type  precent_na
title                                  object    0.000000
review_value                          float64    9.420290
n_user_reviews                         object   92.753623
reviewer_name                          object    0.000000
reviewer_country                       object    9.420290
date_of_review                 datetime64[ns]    0.000000
review_text                            object    0.000000
aircraft                               object   91.304348
traveller_type                         object   82.608696
seat_type                              object   10.144928
route                                  object   82.608696
date_flown                     datetime64[ns]   82.608696
seat_comfort_rating                   float64   34.057971
cabin_staff_service_rating            float64   34.057971
food_and_beverages_rating             float64   36.231884
inflight_entertainment_rating         float64   46.376812
ground_service_rating                 float64   82.608696
value_for_money_rating                float64    9.420290
recommendation                         object    0.000000
clean_review_text                      object    0.000000
clean_title                            object    0.000000
review_luggage_seats                  float64    0.000000
review_time_delays                    float64    0.000000
review_food_bev_crew                  float64    0.000000
title_money_value                     float64    0.000000
title_staff_delays                    float64    0.000000

`object` types are categorical/strings.  Below in a table documenting which columns will be dropped and the reasoning behind each.

| Column Name                   	| Reason to Drop                                                  	|
|-------------------------------	|-----------------------------------------------------------------	|
| title                         	| Information extracted via Topic Modeling                        	|
| n_user_reviews                	| Large amount of missing values                                  	|
| reviewer_name                 	| Not relevant for regression analysis                            	|
| reviewer_country              	| Too many categories for small amount of data; EDA backs this up 	|
| date_of_review                	| imbalanced dataset over time                                    	|
| review_text                   	| Information extracted via Topic Modeling                        	|
| aircraft                      	| Large amount of missing values                                  	|
| traveller_type                	| Large amount of missing values                                  	|
| route                         	| Large amount of missing values                                  	|
| date_flown                    	| Large amount of missing values                                  	|
| ground_service_rating         	| Large amount of missing values                                  	|
| inflight_entertainment_rating 	| Large amount of missing values                                  	|
| clean_review_text             	| Information extracted via Topic Modeling                        	|
| clean_title                   	| Information extracted via Topic Modeling                        	|

In [6]:
reviews_regr.columns

Index(['title', 'review_value', 'n_user_reviews', 'reviewer_name',
       'reviewer_country', 'date_of_review', 'review_text', 'aircraft',
       'traveller_type', 'seat_type', 'route', 'date_flown',
       'seat_comfort_rating', 'cabin_staff_service_rating',
       'food_and_beverages_rating', 'inflight_entertainment_rating',
       'ground_service_rating', 'value_for_money_rating', 'recommendation',
       'clean_review_text', 'clean_title', 'review_luggage_seats',
       'review_time_delays', 'review_food_bev_crew', 'title_money_value',
       'title_staff_delays'],
      dtype='object')

In [7]:
drop_cols = ['title', 'n_user_reviews', 'reviewer_name',
             'reviewer_country', 'date_of_review', 'review_text', 
             'aircraft', 'traveller_type', 'route', 'date_flown',
             'ground_service_rating', 'inflight_entertainment_rating',
             'clean_review_text', 'clean_title']

In [8]:
# drop unwanted columns
reviews_regr = reviews_regr.drop(drop_cols, axis = 1)

After dropping, review the na values and column types again

In [9]:
# column types, na values
pd.DataFrame({
    "data_type" : reviews_regr.dtypes.values,
    "precent_na" : (reviews_regr.isna().sum()/reviews_regr.shape[0])*100
})

                           data_type  precent_na
review_value                 float64    9.420290
seat_type                     object   10.144928
seat_comfort_rating          float64   34.057971
cabin_staff_service_rating   float64   34.057971
food_and_beverages_rating    float64   36.231884
value_for_money_rating       float64    9.420290
recommendation                object    0.000000
review_luggage_seats         float64    0.000000
review_time_delays           float64    0.000000
review_food_bev_crew         float64    0.000000
title_money_value            float64    0.000000
title_staff_delays           float64    0.000000

In [10]:
# levels of the seat_type variable and counts
reviews_regr.seat_type.value_counts()

Economy Class     122
Business Class      1
First Class         1
Name: seat_type, dtype: int64

Seat comfort, cabin staff service and food and beverages still have a fair amount missing, I might need to remove them from the analysis later, or perform two separate analyses.

`seat_type` and `recommendation` need to be encoded.  To do that, I'll use some code that I had developed prior.

`PrepareForModel` dummy encodes categorical variables in a given dataframe.  There also exists an option to effect code the categorical variables, but for this option I will keep effect coding.

The reason for effect coding is that I plan to have `Economy Class` as the reference variable, and perform a reference treatment effect to see if moving to business or first class would increase the chance of a recommendation.  An issue with this is that there is only one business class and one first class seat in the dataset.

### Analysis 1
Dropping all rows containing `NA` values, keeping seat comfort, cabin staff service and food and beverages.

This dataset will have less samples than the original

In [14]:
review_regr1 = reviews_regr.dropna()
prep1 = PrepareForModel(review_regr1)
review_regr_enc1 = prep1.make_dummy_df({"seat_type" : "Economy Class", "recommendation" : "no"})

### Analysis 2
Dropping all rows containing `NA` values, dropping seat comfort, cabin staff service and food and beverages.

In [15]:
review_regr2 = reviews_regr.drop(
    ["seat_comfort_rating", "cabin_staff_service_rating", "food_and_beverages_rating"], axis = 1).dropna()
prep2 = PrepareForModel(review_regr2)
review_regr_enc2 = prep2.make_dummy_df({"seat_type" : "Economy Class", "recommendation" : "no"})

In [17]:
review_regr_enc2

,review_value,value_for_money_rating,review_luggage_seats,review_time_delays,review_food_bev_crew,title_money_value,title_staff_delays,seat_type_Business Class,seat_type_First Class,recommendation_yes,intercept
8,8.0,5.0,0.013477,0.013587,0.972936,0.793557,0.206443,0,0,1,1.0
9,2.0,1.0,0.550957,0.053909,0.395134,0.247245,0.752755,0,0,0,1.0
10,8.0,3.0,0.026370,0.026510,0.947120,0.239511,0.760489,0,0,1,1.0
11,5.0,3.0,0.031280,0.029629,0.939091,0.188228,0.811772,0,0,1,1.0
12,10.0,5.0,0.953748,0.021430,0.024822,0.677940,0.322060,0,0,1,1.0
13,2.0,1.0,0.012011,0.976895,0.011094,0.238312,0.761688,0,0,0,1.0
14,7.0,4.0,0.015252,0.023420,0.961329,0.189641,0.810359,0,0,1,1.0
15,9.0,4.0,0.621663,0.018052,0.360284,0.189116,0.810884,1,0,1,1.0
16,8.0,4.0,0.016975,0.697451,0.285574,0.189698,0.810302,0,0,1,1.0
17,2.0,2.0,0.010511,0.979187,0.010302,0.677643,0.322357,0,0,0,1.0
18,9.0,5.0,0.022541,0.021091,0.956368,0.678338,0.321662,0,0,1,1.0
19,3.0,2.0,0.016749,0.896443,0.086809,0.763030,0.236971,0,0,0,1.0
20,3.0,1.0,0.029200,0.131173,0.839628,0.189273,0.810727,0,0,0,1.0
22,4.0,3.0,0.949137,0.030901,0.019962,0.763090,0.236910,0,0,0,1.0
23,1.0,1.0,0.219165,0.774494,0.000000,0.237427,0.762573,0,0,0,1.0
24,7.0,4.0,0.442283,0.023698,0.534019,0.156326,0.843674,0,0,1,1.0
25,2.0,1.0,0.000000,0.981740,0.000000,0.187569,0.812431,0,0,0,1.0
26,2.0,2.0,0.019162,0.965834,0.015004,0.187611,0.812389,0,0,0,1.0
27,5.0,5.0,0.303620,0.282222,0.414159,0.596528,0.403472,0,0,0,1.0
28,2.0,2.0,0.431253,0.202065,0.366683,0.596474,0.403526,0,0,0,1.0
29,10.0,5.0,0.028558,0.022659,0.948783,0.596430,0.403570,0,0,1,1.0
30,1.0,1.0,0.014064,0.974845,0.011090,0.596468,0.403532,0,1,0,1.0
31,2.0,1.0,0.983094,0.000000,0.000000,0.596536,0.403464,0,0,0,1.0
32,7.0,5.0,0.536478,0.268301,0.195222,0.596433,0.403567,0,0,1,1.0
33,7.0,4.0,0.022470,0.016703,0.960827,0.596410,0.403590,0,0,1,1.0
34,9.0,4.0,0.011692,0.010746,0.977562,0.596521,0.403479,0,0,1,1.0
35,2.0,2.0,0.974740,0.011824,0.013436,0.596712,0.403288,0,0,0,1.0
36,4.0,3.0,0.958863,0.018779,0.022357,0.596478,0.403522,0,0,0,1.0
37,7.0,3.0,0.016680,0.015504,0.967816,0.596445,0.403555,0,0,1,1.0
38,8.0,5.0,0.418513,0.041419,0.540068,0.596460,0.403540,0,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...
99,5.0,1.0,0.012442,0.972687,0.014871,0.596479,0.403521,0,0,0,1.0
100,10.0,4.0,0.031592,0.029781,0.938627,0.596463,0.403537,0,0,1,1.0
101,10.0,4.0,0.029022,0.028634,0.942344,0.596474,0.403526,0,0,1,1.0
102,1.0,1.0,0.028054,0.896720,0.075227,0.596406,0.403594,0,0,0,1.0
103,5.0,4.0,0.966800,0.017787,0.015414,0.596412,0.403588,0,0,1,1.0
104,4.0,1.0,0.015837,0.853013,0.131150,0.596534,0.403466,0,0,0,1.0
105,7.0,4.0,0.323724,0.017912,0.658365,0.596479,0.403521,0,0,1,1.0
106,6.0,4.0,0.400621,0.082556,0.516823,0.596465,0.403535,0,0,1,1.0
107,8.0,4.0,0.714237,0.025377,0.260386,0.596422,0.403578,0,0,1,1.0
108,4.0,4.0,0.972194,0.015313,0.012493,0.596500,0.403500,0,0,1,1.0
109,9.0,4.0,0.984108,0.000000,0.000000,0.596521,0.403479,0,0,1,1.0
110,10.0,4.0,0.848021,0.122964,0.029015,0.596527,0.403473,0,0,1,1.0
111,5.0,1.0,0.016336,0.016845,0.966818,0.596453,0.403547,0,0,0,1.0
112,9.0,4.0,0.016128,0.900985,0.082887,0.596522,0.403478,0,0,1,1.0
113,4.0,4.0,0.035236,0.021748,0.943015,0.596512,0.403488,0,0,0,1.0
114,9.0,4.0,0.029927,0.026900,0.943173,0.596468,0.403532,0,0,1,1.0
115,6.0,4.0,0.013641,0.015339,0.971021,0.596488,0.403512,0,0,1,1.0
116,4.0,4.0,0.024936,0.946956,0.028109,0.596413,0.403587,0,0,1,1.0
117,8.0,4.0,0.944343,0.027481,0.028175,0.596469,0.403531,0,0,1,1.0
118,8.0,4.0,0.032124,0.022360,0.945516,0.596522,0.403478,0,0,1,1.0
119,5.0,4.0,0.494424,0.019457,0.486118,0.596422,0.403578,0,0,1,1.0
120,9.0,4.0,0.029225,0.428881,0.541894,0.596494,0.403506,0,0,1,1.0
121,3.0,1.0,0.020494,0.356478,0.623028,0.596513,0.403487,0,0,0,1.0
122,8.0,4.0,0.016989,0.015233,0.967778,0.596496,0.403504,0,0,1,1.0
123,9.0,4.0,0.035241,0.025977,0.938782,0.596398,0.403602,0,0,1,1.0
124,9.0,4.0,0.118583,0.032988,0.848429,0.596528,0.403472,0,0,1,1.0
125,5.0,4.0,0.035378,0.921692,0.042930,0.596513,0.403487,0,0,1,1.0
126,8.0,4.0,0.024794,0.961765,0.013442,0.596474,0.403526,0,0,1,1.0
130,6.0,4.0,0.016448,0.020094,0.963458,0.596504,0.403496,0,0,1,1.0
132,5.0,1.0,0.959510,0.020417,0.020073,0.596524,0.403476,0,0,1,1.0